* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 20px;
  padding: 20px;
  background-color: #ffffff;
}

.converter {
  background-color: rgb(255, 255, 255);
  width: 2400px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  font-size: 40px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

label {
   font-size: 37px;
   font-weight: bold;
   margin: 20px;
}

input {
  font-size: 34px;
  width: auto;
  height: 100%;
}