* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
 margin: 20px;
 padding: 20px;
}

.color-picker {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

h1 {
  text-align: center;
  font-size: 70px;
  margin-bottom: 20px;
}

.rgb-slider {
  display: flex;
  flex-direction: column;
  gap: 50px;
  font-size: 40px;
  margin-bottom: 100px;
}

.color-display {
  font-size: 28px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-weight: bold;
}

button {
  width: 150px;
  height: 100px;
  margin: 10px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 28px;
  background-color: rgb(255, 255, 255);
}

button:hover {
  background-color: lightgreen;
  cursor: pointer;
}

.rgb-hex {
  display: flex;
  flex-direction: column;
  gap: 20px;
}